.container-fluidpic1{
  position: relative;
  background: url(../media/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 39vh;
  z-index: 0;
}
.container-fluidpic2{
  position: relative;
  background: url(../media/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 39vh;
  z-index: 0;
}
.container-fluidpic3{
  position: relative;
  background: url(../media/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 39vh;
  z-index: 0;
}
.first{
  position: absolute;
  z-index: 1;
  background: black;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  transition: all 0.4s;
}
.first:hover{
  opacity: 0;
}
.second h2{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  color: #FEFEFE;
  z-index: 2;
  top: 40%;
  left: 20%;
}
.container-fluid1{
    position: relative;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    bottom: 0%;
}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.content{
    position: relative;
}
.container-fluidnav{
    position: fixed;
    display: flex;
}
.logo img{
    width: 120px;
    height: 120px;
    position: fixed;
    display: block;
    position: absolute;
}
.container-fluid2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 900;
    margin: 0;
}
.container-fluid4{
    width: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
}
.container-fluid5{
  margin: 0%;
  padding: 0%;
  top: 0%;
  position: relative;
  display: block;
}
.button {
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    border: 0.5px solid rgb(255, 255, 255);
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .second h3{
    position: absolute;
    color: #FEFEFE;
    z-index: 2;
    top: 50%;
    left: 40%;
  }
  .container-fluid2{
    font-size: 28px;
  }
  .button {
    padding: 15px 32px;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 4px 2px;
  }
  .logo img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    display: block;
}
}
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .second h3{
    position: absolute;
    color: #FEFEFE;
    z-index: 2;
    top: 40%;
    left: 10%;
  }
  .container-fluid2{
    font-size: 26px;
  }
  .button {
    padding: 12px 30px;
    font-size: 7px;
    letter-spacing: 1px;
    margin: 4px 2px;
  }
  .logo img{
    width: 80px;
    height: 80px;
    margin-top: 4px;
    margin-left: 4px;
    position: fixed;
    display: block;
}
}
@media only screen and (min-width: 1240px) {
  .container-fluidpic1{
    height: 60vh;
  }
  .container-fluidpic2{
    height: 60vh;
  }
  .container-fluidpic3{
    height: 60vh;
  }
}
@media only screen and (min-width: 370px) and (max-width: 480px) {
  .second h3{
    position: absolute;
    color: #FEFEFE;
    z-index: 2;
    top: 40%;
    left: 10%;
  }
  .container-fluid2{
    font-size: 32px;
  }
  .button {
    padding: 15px 32px;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 4px 2px;
  }
  .logo img{
    width: 80px;
    height: 80px;
    margin-left: 4px;
    margin-top: 4px;
    position: fixed;
    display: block;
}
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.button_container {
  position: fixed;
  top: 30px;
  right: 15px;
  width: 45px;
  height: 16px;
  cursor: pointer;
  z-index: 101;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: white;
}
.button_container.active .middle {
  opacity: 0;
  background: white;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: white;
}
.button_container span {
  background: rgb(253, 253, 253);
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  z-index: 100;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
